---
layout: default
title: Categories
---
<div class="container">
  <section class="list-header">
    <h1>Categories</h1>
  </section>

  <ul class="category-list">
    {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
      <li>No categories.</li>
    {% else %}
      {% for category in categories_list %}
      <li><a href="{{ category[0] | slugify | prepend: '/categories/' | relative_url }}">{{ category[0] }}</a></li>
      {% endfor %}
    {% endif %}
    {% assign categories_list = nil %}
  </ul>
</div>
